@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

.font {
    font-family: "Azeret Mono", monospace;
}

* {
    margin: 0;
    padding: 0;
}

/* Banner Styles starts */
.banner-container {
    background-image: url('../assets/Hero-bg.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 28px;
}

.banner-container img {
    margin-top: 26px;
    width: 220px;
}

.banner-container h2 {
    width: 998px;
    color: #0D1321;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 68px;
}

.banner-container p {
    color: #0D1321;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    width: 852px;
}

.banner-container button {
    border-radius: 8px;
    background: #0D1321;
    padding: 21px 24px;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 44px;
}
/* Banner Styles ends */

.main-reason-container{
    margin: 74px auto 90px;
width: 1140px;
padding: 80px 97px;
align-items: center;
background-color: red;
border-radius: 16px;
/* background: rgba(13, 19, 33, 0.02); */
}
.main-reason-container-title{
    color: #0D1321;
text-align: center;
font-size: 32px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.main-reason-container-sub-title{
    color: #0D1321;
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; 
opacity: 0.7;
}


.reason-container-reasons{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;

}

.reason-1{
    display:flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    border-radius: 16px;
    background: linear-gradient(90deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
}